<header class="w-100 h-100 px-4 my-shadow d-flex justify-content-between bg-dark align-items-center">
    <div class="text-light fs-2 fw-bold fst-italic">
        <span>Shopping Point</span>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg me-3" role="group">
            <button type="button" class="btn btn-outline-light" routerLink="/home">Home</button>
            <div class="btn-group" role="group">

                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                    Categories
                </button>
              
                <ul class="dropdown-menu fs-5">
                    
                    <ng-container *ngFor="let item of navigationList; let i = index;">
                       <li class="text-center fw-bold">{{item.category | titlecase}}</li>
                        <li *ngFor="let subcategory of item.subcategories" [style.cursor]="'pointer'">
                            <a class="dropdown-item" OpenProducts 
                            [category]="{id:0, 'category':item.category, 'subcategory':subcategory}">
                                {{subcategory | titlecase}}
                            </a>
                        </li>
                  <hr class="dropdown-divider">
                    </ng-container>
                </ul>

            </div>
        </div>
        <div class="btn-group  btn-group-lg me-2" role="group">
             <button type="button" class="btn btn-outline-light">Login</button>
             <button type="button" class="btn btn-outline-light">Register</button>
             <button type="button" class="btn btn-outline-light">Account</button>
             <button type="button" class="btn btn-outline-light" routerLink="/cart">Cart</button>
             <button type="button" class="btn btn-outline-light" routerLink="/orders">Orders</button>
             <button type="button" class="btn btn-outline-light">Logout</button>
        </div>
    </div>
</header>