<div class="my-container mx-auto border border-dark">
    <div class="row g-0">
        <!-- profile image product -->
        <div class="col-4 p-4">
            <div class=" d-flex justify-content-between align-items-center">
                <img src="../../assets/Images/mobiles/10/{{imageIndex}}.jpg" alt="" class="w-100">
            </div>
            <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
                <img src="../../assets/Images/mobiles/10/1.jpg" alt="thumbnail Image" (click)="imageIndex = 1">
                <img src="../../assets/Images/mobiles/10/2.jpg" alt="thumbnail Image" (click)="imageIndex = 2">
                <img src="../../assets/Images/mobiles/10/3.jpg" alt="thumbnail Image" (click)="imageIndex = 3">
                <img src="../../assets/Images/mobiles/10/4.jpg" alt="thumbnail Image" (click)="imageIndex = 4">
                <img src="../../assets/Images/mobiles/10/5.jpg" alt="thumbnail Image" (click)="imageIndex = 5">

            </div>
        </div>

        <div class="col-8 p-4">
            <div class="card">
                <div class="card-header">
                    <h2>Header</h2>
                </div>

                <div class="card-body">
                    <h1 class="card-title text-success">Final Price
                        <span class="text-primary">=20%</span>
                    </h1>
                    <div class="card-subtitle text-danger text-decoration-line-through">
                        Original Price
                    </div>
                </div>

                <div class="card-body">
                    <h6 class="card-subtitle my-2 text-primary">11 products are available</h6>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-success">Add to Cart</button>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-text">Description</h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" *ngFor="let item for [1,1,1,1]">
                            {{item}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- suggested product -->
    <div class="row g-0">
         <div class="col-12 ps-5 pt-4 pb-3">
            <h3 class="border border-secondary text-center py-2 my-rounded-corner w-25">
                Relational Products
            </h3>
         </div>
         <div class="col-12">
            <app-suggested-products></app-suggested-products>
         </div>
    </div>

    <!-- review -->
    <div class="row g-0 my-5">
        <!-- Users review -->
        <div class="col p-3">
            <h3>Give Your Review</h3>
            <h5 class="mt-4">Write Your Review</h5>
            <textarea class="w-75 p-2"></textarea>
            <div class="d-flex align-items-start">
                <button class="btn btn-outline-secondary mt-4 me-5" type="button">Save Review</button>
           
                <div>
                    <h6 class="text-danger mt-4">login first, then enter the review</h6>
                    <h6 class="text-danger">Review cannot Be Empty</h6>
                    <h6 class="text-success">Review Saved Successfully</h6>
                </div>
            </div>

           
        </div>

        <!-- others review -->
        <div class="col p-3">
            <h3>Other Review</h3>
            <h6 *ngIf="1">No Review Yet!</h6>
            <div class="card mt-3" *ngFor="let review of [1,2,3]">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-text">
                        Uday
                        Bute
                    </div>
                    <div class="card-text fst-italic">
                        Reviewed On: <span class="fw-bold">{{"20 oct 2022" | date:"dd-MM-yyyy"}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">Review</div>
                </div>
            </div>
        </div>

    </div>
</div>