<div class="my-container mx-auto border border-dark">

   <div class="mb-4 my-shadow my-rounded-corner overflow-hidden" *ngFor="let suggestedproduct of  suggestedProducts">
       <div class="product-baner position-relative">
         <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
        <img src="../../assets/Images/{{suggestedproduct.banerimage}}" alt="Baner image" class="img-fluid w-100"> 
       </div>
       <div class="product-list py-5">
            <app-suggested-products [category]="suggestedproduct.category"></app-suggested-products>
         </div>
   </div>


</div>

//23.36