<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstName">
      <!-- errors -->
      <div class="form-text text-danger"
        *ngIf="FirstName.errors?.['required'] && (FirstName.dirty || FirstName.touched)">
        First Name is Required
      </div>
      <div class="form-text text-danger"
        *ngIf="FirstName.errors?.['minlength'] && (FirstName.dirty || FirstName.touched)">
        First Name is too Short. At least 2 characters.
      </div>
      <div class="form-text text-danger"
        *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)">
        Name should start with an alphabet
      </div>
    </div>
  
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastName">
      <!-- errors -->
      <div class="form-text text-danger"
        *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)">
        Last Name is Required
      </div>
      <div class="form-text text-danger"
        *ngIf="LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)">
        Last Name is too Short. At least 2 characters.
      </div>
      <div class="form-text text-danger"
        *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)">
        Name should start with an alphabet
      </div>
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <!-- errors -->
      <div class="form-text text-danger"
        *ngIf="Email.errors?.['pattern'] && (Email.dirty || Email.touched)">
        Email Name is Required
      </div>
      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
        Email is Invalid.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" class="form-control" id="pwd" formControlName="pwd">
      <!-- errors -->
      <div class="form-text text-danger"
        *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
        Password is Required
      </div>
      <div class="form-text text-danger"
        *ngIf="PWD.errors?.['minlength'] && (PWD.dirty || PWD.touched)">
        Password is too Short. At least 6 characters.
      </div>
      <div class="form-text text-danger"
        *ngIf="PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
        Password is too Long. Maximum 15 characters.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="rpwd" class="form-label">Repeat Password</label>
      <input type="password" class="form-control" id="rpwd" formControlName="rpwd">
      <!-- errors -->
      <div class="form-text text-danger"
        *ngIf="RPwd.errors?.['required'] && (RPwd.dirty || RPwd.touched)">
        Repeat Password is Required
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Register</button>
  </form>